.QuizCard {
  padding: 16px;
}

.QuizCard .Quote {
  padding: 0;
}

.QuizCard ul {
  display: grid;
  margin: 32px 0 0 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 16px;
  max-width: 350px;
}

.QuizCard li {
  position: relative;
  width: 100%;
  list-style: none;
  text-align: center;
}

.QuizCard .Avatar {
  margin: 0 auto 8px;
}

.Result {
  position: absolute;
  top: -5px;
  left: 27%;
  font-size: 3em;
}

.Result.Success:before {
  content: "✓";
  color: green;
}

.Result.Failure:before {
  content: "✗";
  color: red;
}
