.QuizCard {
  padding: 16px;
}

.QuizCard :global(.Quote) {
  padding: 0;
}

.QuizCard :global(.Avatar) {
  margin: 0 auto 8px;
}

.QuizCard ul {
  display: grid;
  margin: 32px 0 0 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 16px;
  max-width: 350px;
}

.QuizCard li {
  position: relative;
  width: 90px;
  list-style: none;
  text-align: center;
}

.Result {
  position: absolute;
  top: -5px;
  left: 26px;
  font-size: 3em;
}

.Result:global(.Success):before {
  content: "✓";
  color: green;
}

.Result:global(.Failure):before {
  content: "✗";
  color: red;
}
