.PersonPage {
  color: rgba(0, 0, 0, 0.8);
}

.PersonCard header {
  display: grid;
  grid-template-areas:
    "avatar info"
    "quotes quotes";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  padding: 16px;
}

.PersonCard .Avatar {
  grid-area: avatar;
  width: 64px;
  height: 64px;
}

.PersonCard .Info {
  grid-area: info;
  padding: 0 0 0 16px;
}

.PersonCard h2 {
  margin: 4px 0;
  font-size: 1.2rem;
}

.PersonCard h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
}

.PersonCard ul {
  grid-area: quotes;
  padding: 0;
}
