.ProgressBar {
  height: 3px;
  background: rgba(0, 0, 0, 0.3);
}

.ProgressBar .ProgressSlider {
  height: 100%;
  background: #e80069;
  transition: transform 200ms linear;
  transform-origin: left bottom;
}

.ProgressBar.Disabled {
  display: none;
}
