.Title {
  margin: 24px 16px;
  font-family: sans-serif;
  font-weight: 400;
}

.Tabs {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 48px;
  list-style: none;
  background: #fff;
  box-shadow: 0 -3px 6px -3px #bdbdbd;
}

.Tabs a {
  position: relative;
}

.Tabs a:global(.active) {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.Tabs a:global(.active):after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0.05;
  background: var(--primary-color);
  pointer-events: none;
}

.Tabs a:global(.active svg) {
  fill: var(--primary-color);
}

.Tab {
  --tab-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.Tab a {
  display: flex;
  padding-bottom: 2px;
  box-sizing: border-box;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--tab-color);
  border-top: 2px solid transparent;
  flex-direction: column;
}

.Tab svg {
  margin-bottom: 2px;
  fill: var(--tab-color);
}

.Spinner {
  display: block;
  margin: 2rem auto;
}
