.AudioPlayer {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #eee;
}

.AudioPlayer:focus {
  box-shadow: 0 0 0 2px #e80069;
  outline: none;
}

.AudioPlayer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.Name {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: rgba(0, 0, 0, 0.8);
}

.AudioPlayer.NoThumbnail .Name {
  display: none;
}
