.Quotes {
  padding: 0;
}

.Quote {
  margin: 0 0 32px;
  list-style: none;
}

.Quote:last-child {
  margin-bottom: 0;
}

.Quote blockquote {
  margin: 0 0 8px 0;
}

.Quote blockquote:before {
  content: '“';
}

.Quote blockquote:after {
  content: '”';
}

.Quote cite {
  display: flex;
  align-items: center;
  margin-left: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.65);
}

.Quote .Avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
