.SoundItem {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #eee;
}

.SoundItem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.SoundItem .Name {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: rgba(0, 0, 0, 0.8);
}

.SoundItem button {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
}

.SoundItem::after {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  content: '♬';
}

.SoundItem.Playing::after {
  display: block;
}
