.Quote {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px 8px 16px;
  line-height: 130%;
  list-style: none;
}

.Quote.Interactive:hover {
  background: rgba(0, 0, 0, 0.05);
}

.Quote blockquote {
  display: block;
  margin: 0;
  padding: 16px;
  border-radius: 10px;
  border: 0;
  background: #e0e0e0;
}

.Quote cite {
  display: flex;
  align-items: center;
  margin-top: 8px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.65);
}

.Quote cite a {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.Quote.Interactive cite a:hover {
  color: var(--primary-color);
}

.Quote :global(.Avatar) {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
