html,
body,
[id="root"],
[id="__next"],
.Router {
  height: 100%;
}

:root {
  --primary-color: #007cad;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  box-sizing: border-box;
  height: calc(100% - 48px);
  overflow: auto;
}
